__pycache__/
./*/__pycache__/
./*/*/__pycache__/
./*/*/*/__pycache__/
job
artifacts
submit_job
wandb
agent_positions
teacher_goal_visuals
.DS_Store
./*/wandb
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
*.pywzz
*.pyzzz
*.pywzzz