__pycache__/
./*/__pycache__/
./*/*/__pycache__/
./*/*/*/__pycache__/
job
artifacts
submit_job
wandb
agent_positions
__pycache__
teacher_goal_visuals
.DS_Store
./*/wandb
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
*.pywzz
*.pyzzz
*.pywzzz
slurm*
*.png
*.out
*.csv
*.zip