__pycache__/
./*/__pycache__/
./*/*/__pycache__/
./*/*/*/__pycache__/
train_teacher.sh
train_teacher*
job
submit_job
wandb
./*/wandb
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
*.pywzz
*.pyzzz
*.pywzzz